@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #200946;
}

.snake{
	position: absolute; left: 3.125rem; top: 5.875rem;
}

.eat{
	position: absolute; left: 37.5rem; top: 6.25rem;
}

.snake-2{
	position: absolute; left: 75rem; top: -0.625rem;
}

.snake-3{
	position: absolute; left: 51.25rem; top: 31.25rem;
}

.eat-2{
	position: absolute; left: 71.875rem; top: 24.375rem;
}

.snake-4{
	position: absolute; left: 6.25rem; top: 31rem;
	transform: scale(1, -1);
}

.but-start-game{
	width: 42.1875rem;
	height: 19.5625rem;
	gap: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.but-start-game form button{
	width: 42.8125rem;
	height: 13.25rem;
	border: 0.0625rem solid #D802EE;
	border-radius: 4rem;
	padding: 3rem;
	gap: 0.625rem;
	color: #FFF;
	text-align: center;
	font-weight: 700;
	font-size: 5.375rem;
	line-height: 7.2613rem;
	text-decoration: none;
	background: none;
	transition: 0.7s;
}

.high-score{
	width: 42.1875rem;
	height: 4.8125rem;
	border-radius: 2rem;
	padding: 1.5rem;
	gap: 0.625rem;
	background: #000000B2;
	color: #FFF;
	text-align: center;
	font-size: 1.5rem;
	line-height: 1.8156rem;
	font-weight: 600;
}

.btn:hover{
	background: #000000B2;
	border: none;
	transition: 0.9s;
}

.btn:active{
	background: #FFFFFF;
	border: 0.0625rem solid #200946;
	color: #200946;
	transition: 0.5s;
}

@media (min-width: 1720px) {
	.snake{
	position: absolute; left: 3.125rem; top: 5.875rem;
}

.eat{
	position: absolute; left: 37.5rem; top: 6.25rem;
}

.snake-2{
	position: absolute; left: 100rem; top: -0.625rem;
}

.snake-3{
	position: absolute; left: 79.375rem; top: 40.625rem;
}

.eat-2{
	position: absolute; left: 1600px; top: 530px;
}

.snake-4{
	position: absolute; left: 6.25rem; top: 656px;
	transform: scale(1, -1);
}
}