@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #200946;
}


.wrapper{
	width: 42rem;
	height: 45.1875rem;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	justify-content: center;
	background: #200946;
	border-radius: 3rem;
	border: 0.0625rem solid #D802EE;
	padding: 0 1.5rem 1.5rem 1.5rem;
}

.game-details{
	color: #b8c6de;
	font-weight: 500;
	font-size: 1.2rem;
	padding: 1.25rem 1.6875rem;
	display: flex;
	justify-content: space-between;
}

.play-board{
	height: 100%;
	width: 100%;
	display: grid;
	border: 0.0625rem solid #D802EE;
	border-radius: 0.625rem;
	background: #200946;
	grid-template: repeat(30, 1fr) / repeat(30, 1fr);
	
}

.play-board .food{
	background: url(eat.svg);
}

.play-board .head{
	border: 0.125rem solid #D802EE;
	border-radius: 25%;	
	margin: 0.0625rem;
}

.controls{
	display: none;
	justify-content: space-between;
}

.controls i{
	padding: 1.5625rem 0;
	text-align: center;
	font-size: 1.3rem;
	color: #b8c6dc;
	width: calc(100%/4);
	cursor: pointer;
	border-right: 0.0625rem solid #171b26;
}

body {
	background: linear-gradient(149deg, #19778c, #330089, #550f7d, #18796d);
	background-size: 800% 800%;

	-webkit-animation: AnimationName 28s ease infinite;
	-moz-animation: AnimationName 28s ease infinite;
	-o-animation: AnimationName 28s ease infinite;
	animation: AnimationName 28s ease infinite;
}

@-webkit-keyframes AnimationName {
	0%{background-position:0% 61%}
	50%{background-position:100% 40%}
	100%{background-position:0% 61%}
}
@-moz-keyframes AnimationName {
	0%{background-position:0% 61%}
	50%{background-position:100% 40%}
	100%{background-position:0% 61%}
}
@-o-keyframes AnimationName {
	0%{background-position:0% 61%}
	50%{background-position:100% 40%}
	100%{background-position:0% 61%}
}
@keyframes AnimationName {
	0%{background-position:0% 61%}
	50%{background-position:100% 40%}
	100%{background-position:0% 61%}
}


@media  screen and (max-width: 50rem) {
	.wrapper{
		width: 90vmin;
		height: 115vmin;
	}

	.game-details{
		font-size: 1rem;
		padding: 0.9375rem 1.6875rem;
	}

	.controls{
	display: flex;
	}

	.controls i{
		padding: 0.9375rem 0;
		font-size: 1rem;
	}
}